{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-section">
    <div class="top-cover h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto text-center">
                    <h1 class="home-logo header-font">Shey's Skin Kitchen</h1>
                    <div class="center">
                        <p class="home-description">Handmade  -  Natural  -  Vegan  -  Cruelty Free</p>
                    </div>
                    <div class="center extra-button-margin">
                        <a href="" class="shop-now-button">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-section">
    <h2 class="header-font text-center p-2 headers">About</h2>
    <div class="text-center p-3">
        <p>
            Shey's skin kitchen works extremely well not only for a general moisturiser but in particular for very dry skin, eczema/psoriasis and inflamed skin.
        </p>
        <p>
            All ingredients used are UNREFINED, RAW, VEGAN and CRUELTY-FREE.
        </p>
        <p>
            Handmade and made in small batches to ensure the product stays creamy, rich and fluffy.
        </p>
        <p>
            If you have any questions, please feel free to contact us
        </p>
    </div>


</div>
{% endblock %}